<span style="font-size: 72px;font-family: Times;">The winner is <%= @winner %>!
  <span style="font-size: 40px">Unhappy? <a href=".">Try again!</a></span>
</span>
<p>This page chooses a random winner for the election, based on
the most recent <a href="https://electionbettingodds.com">electionbettingodds.com</a> odds.</p>

<img src="<%= @image %>" style="width: 80%">
